h1{
    color: rgb(17, 158, 29);
    background-color: rgba(169, 197, 174, 0.349);
}
img{
    width: 400px;
    height: 300px;
}
.git{
    background-color: darkseagreen;
    text-align: justify;
    border: 2px solid black;
    border-radius: 15px;
    font-weight: 900;
    padding: 10px;
}